.reviewPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 98px;
}

.myReviewsDisplay {
  margin-left: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

.myReviewDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
}

.addNewReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.addNewReview img {
  height: 100px;
  margin-top: 20px;
}

.addNewReview h2 {
  font-size: 30px;
}

@media (max-width: 500px) {
  .reviewPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .myReviewsDisplay {
    width: 40%;
    padding: 3%;
    margin: 3%;
  }
}
