.addNew img {
	height: 50px;
}
img {
	height: 80%;
}
.addNew {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-left: 30px;
}
.addNew h2 {
	font-size: 30px;
	text-align: center;
}

.projectPage {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.project-list-container {
	display: flex;
	margin-top: 20px;
}
.myProjectsDisplay {
	border: 1px solid #dedede;
	width: 200px;
	margin-left: 30px;
	height: 200px;
	background-color: #ffffff;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.myProjectDisplay {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0PX 10px 20px 10px;
	align-content: flex-start;
	margin-top: 10px;
}

.projectImg img{
	height: 200px;
   
}

@media (max-width: 500px) {
	.projectPage {
		display: flex;
		flex-direction: column;
		width: 100vw;
	}

	.myProjectsDisplay {
		width: 40%;
		padding: 3%;
		margin: 3%;
	}
}
